name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: cargo build
      id: cargo-build
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: cargo build
        setup-command: ''
        command: cargo build
        timeout: 3
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        CARGO-BUILD_RESULTS: "${{steps.cargo-build.outputs.result}}"
      with:
        runners: cargo-build
